<div id="login-container">
    <div class="login-form">
        <h1>Login</h1>
        <button>
            <img src="assets/icons/google.svg" alt="Logo Google">
        </button>
        <form>
            <input type="email" placeholder="E-mail" formControlName="email">
            <input type="password" placeholder="Senha" formControlName="senha">
            <button type="submit">Entrar</button>
        </form>
        <span>Ainda não é cadastrado? <a routerLink="/cadastrar-usuario">Cadastre-se</a></span>
    </div>
</div>