table {
    width: 100%;
}

.table-container {
    height: 30vh;
    overflow: auto;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.btn-new {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: #517fdc;
}

.container-editar {
    width: clamp(300px, 90%, 1400px);
    margin: 0 auto;
    padding-top: 90px;
}

.double-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.double-width .full-width {
    width: 48%;
}

.btn-submit {
    margin-top: 30px;
    background-color: #6b98f1;
    color: #FFFFFF;
}

.btn-submit:hover {
    background-color: #587dc8;
}