table {
    width: 100%;
}

.container h2 {
    text-align: center;
}

.table-container {
    height: 40vh;
    line-height: 4vh;
    overflow: auto;
    position: absolute center;
    background-color: antiquewhite;
}

.double-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.double-width .full-width {
    width: 50vh;
}

.section-form {
    display: flex;
    flex-direction: column;
    margin-top: 1.875rem;
}

.container-form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.esquerda {
    display: flex;
    flex-direction: column;
}

.direita {
    display: flex;
    flex-direction: column;
}

.btn-submit {
    width: 100%;
    margin-top: .6875rem;
    background-color: #6b98f1;
    color: #FFFFFF;
}

.btn-submit:hover {
    background-color: #587dc8;
}