<div id="login-container">
    <div class="login-form">
        <h1>Cadastre-se</h1>
        <button>
            <img src="assets\icons\google.svg" alt="Logo Google">
        </button>
        <form>
            <input type="email" placeholder="E-mail" formControlName="email">
            <input type="password" placeholder="Senha" formControlName="senha">
            <button type="submit">Cadastrar</button>
        </form>
        <span><a routerLink="/login">Voltar para Login</a></span>
    </div>
</div>