<app-header></app-header>
<div class="container">
    
    <form #formEdit="ngForm">
        <h1>Editar empréstimo</h1>
        <mat-form-field class="full-width" appearance="outline" required>
            <mat-label>Leitor</mat-label>
            <input type="text" matInput placeholder="Leitor" name="leitor" [(ngModel)]="emprestimo.leitor" required>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input type="text" matInput placeholder="E-mail" name="email" [(ngModel)]="emprestimo.email" required>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Telefone</mat-label>
            <input type="text" matInput placeholder="Telefone" name="telefone" [(ngModel)]="emprestimo.telefone" required>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select name="status" [(ngModel)]="emprestimo.status" required>
                <mat-option disabled selected></mat-option>
                <mat-option value="Pendente">Pendente</mat-option>
                <mat-option value="Devolvido">Devolvido</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Livro</mat-label>
            <mat-select name="livro" [(ngModel)]="emprestimo.livro">
                <mat-option [value]="emprestimo.livro">{{emprestimo.livro.titulo}}</mat-option>
            </mat-select>
        </mat-form-field>



        <div class="double-width">
            <button class="full-width btn-submit" mat-raised-button (click)="updateEmprestimo(formEdit)">Cadastrar</button>
            <a class="full-width btn-close" mat-raised-button routerLink="/dashboard">Cancelar</a>
        </div>
    </form>
</div>